<html>
<body>
  
<footer>
    <div class="footer-left">
      <div class="footer-logo">
        <img src="infiniteInStyle.png" alt="Your Website Logo">
      </div>

    <div class="footer-categories">

        <div>
          <h3>Information</h3><br>
          <a href="#">About Us</a>
          <a href="#">Contact Us</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Terms & Conditions</a>
        </div>



        <div>
          <h3>Collection</h3><br>
          <a href="#">Men's Collection</a>
          <a href="#">Women's Collection</a>
          <a href="#">Kids' Collection</a>
        </div>

        <div>
          <h3>Help & Support</h3><br>
          <a href="#">Shipping Info</a>
          <a href="#">Refunds</a>
          <a href="#">How to Order</a>
          <a href="#">How to Track</a>
          
        </div>
      </div>

      
    </div>
    

    <form >
      <h2>Sign up for the latest updates</h2>
      <label for="femail"> Enter mail:</label>
      <input type="text" id="femail" name="femail" required>
      <button type="submit">Sign Up</button>
    </form>
  <div class="social-icons">
      <a href="#" target="_blank"><img src="assets/footer/facebook.jpeg" alt="Facebook"></a>
      <a href="#" target="_blank"><img src="assets/footer/twit.jpeg" alt="Twitter"></a>
      <a href="#" target="_blank"><img src="assets/footer/insta.jpeg" alt="Instagram"></a>
      <a href="#" target="_blank"><img src="assets/footer/pintrest.jpeg"alt="Pinterest"></a>
      <a href="#" target="_blank"><img src="assets/footer/youtube.jpeg"alt="Youtube"></a>

    </div>

    
</footer>
</body>
</html>