<h1>Men</h1><!DOCTYPE html>
<html>
<body>
  <div  style="height: 2300px;  margin-top: -650px;">
<div class="container1">
        <img src="assets/men/frontpagemens.png" style="width:1350px;height:400px;"> 
</div>

<h1>BIGGEST DEALS ON TOP BRANDS</h1>

<div class="image-grid">
    <img src="assets/men/pumabrand.png" alt="Image 1">
    <img src="assets/men/jackbrand.png" alt="Image 2">
    <img src="assets/men/levisbrand.png" alt="Image 3">
</div>
  
<h1>Categories To  BAG</h1>
    <div class="image-grid2">
        <img src="assets/men/jeanbag.png" alt="Image 1">
        <img src="assets/men/tshirtbag.png" alt="Image 2">
        <img src="assets/men/shirtsbag.png" alt="Image 3">
    </div>

    <div class="container">
      <div class="row h-100 g-0">
        <div class="col-md-6">
          <div class="bg-300 p-4 h-100 d-flex flex-column justify-content-center">
            <h1 class="fw-semi-bold lh-sm fs-4 fs-lg-5 fs-xl-6">Gentle Formal Looks </h1>
            <p class="mb-5 fs-1">The top formal</p>
            <div class="d-grid gap-2 d-md-block"><a class="btn btn-lg btn-dark" href="#!" role="button">Explore Collection</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
           <div class="card card-span h-100 text-white"><img class="card-img h-100" src="assets/men/formaldressmen.jpeg" alt="..." /><a class="stretched-link" href="#!"></a></div>
        </div>
   </div>
     </div>
    </div>
    <div style="margin-bottom: -300px;">
        <app-footer></app-footer>
        </div>
    </body>
    </html>
