<body>
    <div  style="height: 1500px;  margin-top: -480px;">
    <header>
        <h1>About Us</h1>
        
    </header>
    <div class="about-us-container">
       
        <div class="about-us-content">
            <div class="about-us-text">
                
                <h3>Welcome to Infinite In Style!!!</h3>
                <p><b>Your ultimate destination for all things fashion! Established 
                    with a passion for style and a commitment to providing an unparalleled shopping experience,
                    our online platform brings together a curated collection of latest trends and timeless
                    classics. We believe that fashion is an expression of individuality, 
                    and our goal is to empower you to showcase your unique style effortlessly. Whether you're 
                    on lookout for chic everyday essentials or eye-catching statement pieces, our diverse 
                    range of clothing and accessories caters to every taste and occasion. With a focus on quality,
                    affordability, and on-trend designs, we strive to make your online shopping journey seamless
                    and enjoyable. Join us on this fashion-forward adventure and let Infinity In Style be your 
                    go-to destination for all your wardrobe needs. <br>
        
                    Happy shopping!</b></p>
            </div>
        </div>

        <div class="social-icons">
            <a href="#" target="_blank"><img src="assets/footer/facebook.jpeg" alt="Facebook"></a>
            <a href="#" target="_blank"><img src="assets/footer/twit.jpeg" alt="Twitter"></a>
            <a href="#" target="_blank"><img src="assets/footer/insta.jpeg" alt="Instagram"></a>
            <a href="#" target="_blank"><img src="assets/footer/pintrest.jpeg"alt="Pinterest"></a>
            <a href="#" target="_blank"><img src="assets/footer/youtube.jpeg"alt="Youtube"></a>
          </div>
        <div class="about-us-image">
            <img src="assets/aboutus/hangercloth.jpeg" alt="Another Image">
        </div>
    </div>
    </div>
</body>
