<!DOCTYPE html>
<html>
  <body>
    <div  style="height: 3500px;  margin-top: -450px;">
    <div style="height: 1800px; width: 100%;">
      <div class="container" >
        <div class="carousel slide" data-bs-ride="carousel" id="xyz">
         <div class="carousel-indicators">
           <button data-bs-target="#xyz" data-bs-slide-to="0" class="active"></button>
           <button data-bs-target="#xyz" data-bs-slide-to="1"></button>
         </div>
         <div class="carousel-inner">
            <div class="carousel-item active">
               <img src="assets/kids/kisfrontpage.png" style="width:1300px;height:440px;">
            </div>       
            <div class="carousel-item">
               <img src="assets/kids/frontpagekids.png" style="width:1300px;height:440px;">        
            </div>
         </div>
            <button class="carousel-control-prev" data-bs-target="#xyz" data-bs-slide="prev">
            <span class="carousel-control-pr.ev-icon"></span>
            </button>
            <button class="carousel-control-next" data-bs-target="#xyz" data-bs-slide="next">
             <span class="carousel-control-next-icon"></span>
           </button>
    </div>
</div>

<h1>SHOP MORE BRANDS</h1>

<div class="kidsbrand">
  <div class="roundbrand"> <img src="assets/kids/brandkids.png" style="width:150px;height:150px;"></div>
  <div class="roundbrand1"> <img src="assets/kids/kidspepebrand.png" style="width:150px;height:150px;"></div>
  <div class="roundbrand2"> <img src="assets/kids/brndshrx.png" style="width:150px;height:150px;"></div>
</div>


<div class="iconic">
  <div class="image-grid">
     <img src="assets/kids/kidsbrandhm.png" alt="Image 1">
     <img src="assets/kids/kidsbrandmongo.png" alt="Image 2"> 
     <img src="assets/kids/kidsbrandchico.png" alt="Image 3">
   </div>
</div>

<div class="maindiv">
    <div class="box-images">
         <img src="assets/kids/kidspicturediv.png" alt="Image 2">
   </div>
   <div class="text" style="margin-left: 500px;">
       <h1 style="float: left; font-size: 100px;font-style: italic;"><b><strong>1</strong></b></h1>
        <h1 class="message"style= "font-size:60px;style=line-height: 5px;"><sub >LOGO</sub> <br> MANIA</h1>
        <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp; A li'l brands love <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;for a li'l ones</h2> 
    </div>
   </div>
   
   <div classs="secondmaindiv" style="margin-top: 70px;">  
      <div class="text1">
        <h1 class="message"style= "font-size:60px; line-height:60px; margin-top: 250px; margin-left: 200px;"><strong>CHARECTER</strong> <br><strong>STOTRE </strong></h1>
        <h2 >&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;<sub>Let Them Wear <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  Their Favorites</sub></h2>
        <h1 style="float:right;margin-top: 0px; font-size: 100px;font-style: italic;font-size:200px;"><b><strong>2</strong></b></h1>
       </div>
    <div class="box1-images">
        <img src="assets/kids/bigbanner.png" alt="Image 2">
    </div> 
  </div>
 </div>
<div>
 <div class="kidsbrand1" style="margin-top: 1400px;">
  <div class="squarebrand"> <img src="assets/kids/dressessquare.png" style="width:300px;height:250px;"></div>
  <div class="squarebrand1"> <img src="assets/kids/ethniksquare.png" style="width:300px;height:250px;"></div>
  <div class="squarebrand2"> <img src="assets/kids/t-shirtsundersquarebrand.png" style="width:300px;height:250px;"></div>
</div>
</div>
</div>
<div style="margin-bottom: -300px;">
  <app-footer></app-footer>
</div>
</body>
</html>

 

