<!Doctype html>
<html>
<head>
<title> Cards Bootstarp DEMO </title>
<meta charset="utf-8"> 
<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
<div style="height: 3000px;  margin-top: -490px;">

   <div class="fam" style="float: left;">

        <img src="assets/home/lifefamily.jpg" style="width:1450px;height:600px;margin-top:50px;margin-left:30px;"> 

     <div class="text-container1">
        <div class="text1"><h1 style="font-size:60px;margin-top:50px;">New Season.New Mood.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;New You.<br><br></h1> <h3 style="text-align: center;">Its time to turn over a new leaf</h3><br></div>
      
      <div class="d-grid gap-2 d-md-block"><a class="btn btn-lg btn-dark" href="#" role="button" style="margin-left: 150px;margin-top:0;">Explore</a></div>
     </div>
     </div>
  
  
     <div class="container" style="background-color:white;">

    <div class="carousel slide" data-bs-ride="carousel" id="xyz">
     

       <div class="carousel-indicators">
         <button data-bs-target="#xyz" data-bs-slide-to="0" class="active"></button>
         <button data-bs-target="#xyz" data-bs-slide-to="1"></button>
        
       </div>

      <div class="carousel-inner" style="margin-bottom: 100px;">
        
         <div class="carousel-item active "style="height:500px;" >
          <img src="assets/home/flatrupess30.jpeg" style="width:1500px;height:440px;"><h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          ">WESTERNWEAR Min.30% OFF</h1>
         </div>   
        

         <div class="carousel-item">
          <img src="assets/home/startfamimsge.jpeg" style="width:1500px;height:440px;margin-top:10px;"><h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">WESTERNWEAR Min.30% OFF</h1>          
         </div>    
           
       </div>
           <button class="carousel-control-prev" data-bs-target="#xyz" data-bs-slide="prev">
             <span class="carousel-control-prev-icon"></span>
           </button>
           <button class="carousel-control-next" data-bs-target="#xyz" data-bs-slide="next">
             <span class="carousel-control-next-icon"></span>
           </button>
        </div>
</div>

<div class="gallery">
    <img src="assets/home/zarabrand.jpeg" alt="a dream catcher">
    <img src="assets/home/trailor.jpg" alt="a piano">
    <img src="assets/home/londry.jpg" alt="a live concert">
    <img src="assets/home/wearitbrand.jpeg" alt="Paris">
  </div>

  <div class="image-grid">
  <img src="assets/home/boytshirt.jpg" alt="Image 1">  
  <img src="assets/home/smallgirl.jpg" alt="Image 2">
  <img src="assets/home/bigboyshirt.jpg" alt="Image 3">
  <img src="assets/home/tshirtgirl.jpg" alt="Image 3">
</div>

<div class="image-grid1">
    <img src="assets/home/boykidshirt.jpg" alt="Image 1">
    <img src="assets/home/shortyellow.jpeg" alt="Image 2">
    <img src="assets/home/btshirt.jpeg" alt="Image 3">
    <img src="assets/home/images.jpeg" alt="Image 3">
  </div>
  <section>
  <div class="container">
      <div class="row h-100 g-0">
        <div class="col-md-6">
          <div class="bg-300 p-4 h-100 d-flex flex-column justify-content-center">
            <h4 class="text-800">Exclusive collection 2024</h4>
            <h1 class="fw-semi-bol*d lh-sm fs-4 fs-lg-5 fs-xl-6">Be exclusive</h1>
            <p class="mb-5 fs-1">The best everyday option </p>
            <div class="d-grid gap-2 d-md-block"><a class="btn btn-lg btn-dark" href="#" role="button">Explore</a></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-span h-100 text-white"><img class="card-img h-100" src="assets/home/bggrid.jpeg" alt="..." />
        
          </div>
        </div>
      </div>
    </div>
    <!-- end of .container-->
  </section>
  
</div>
<div style="margin-bottom: -300px;">
  <app-footer></app-footer>
  </div>
</body>
</html>
